*.iml
.apt_generated
.classpath
.DS_Store
.factorypath
.idea/
.mvn/
.mvn/timing.properties
.project
.settings/
.springBeans
.tmp
*.bak
bin/
bower_components
git.properties
node_modules
target/
codesigning.asc

**/src/main/docker/Dockerfile
**/src/site/markdown/README.md
**/src/site/markdown/src/readme
**/src/site/resources

# maven-release-plugin
**/pom.xml.releaseBackup
**/pom.xml.next
**/pom.xml.tag
**/pom.xml.branch
**/release.properties
**/pom.xml.backup
