<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                        http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <localRepository>${user.home}/.m2/repository</localRepository>
    <interactiveMode/>
    <usePluginRegistry/>
    <offline/>

    <proxies>
        <!--proxy>
            <id>http-proxy</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>127.0.0.1</host>
            <port>8080</port>
        </proxy-->
    </proxies>

    <mirrors>
        <!-- Do not use variable substitution in mirrors when using an IDE, it does not works. -->
        <!-- mirrorOf: pom.xml repositories repository id -->
        <!--mirror>
            <id>local-nexus3-mirror</id>
            <name>local nexus3 mirror</name>
            <url>${local-nexus3.repository}/maven-public/</url>
            <!-mirrorOf>central,spring-libs-release,spring-milestone,spring-libs-snapshot,conjars.org,clojars.org,org.jboss.repository,codehaus-mule-repo,repo.jenkins-ci.org</mirrorOf->
            <mirrorOf>external:*,!github-chshawkn-wagon-maven-plugin</mirrorOf>
        </mirror-->
        <!--mirror>
            <id>internal-nexus3-mirror</id>
            <name>internal nexus3 mirror</name>
            <url>${internal-nexus3.repository}/maven-public/</url>
            <mirrorOf>external:*,!github-chshawkn-wagon-maven-plugin</mirrorOf>
        </mirror-->
    </mirrors>

    <servers>
        <server>
            <id>gpg.passphrase</id>
            <passphrase>${env.GPG_PASSPHRASE}</passphrase>
        </server>
        <server>
            <id>github</id>
            <password>${env.GITHUB_INFRASTRUCTURE_CONF_GIT_TOKEN}</password>
        </server>
        <server>
            <id>OSSRH-releases</id>
            <username>${env.MAVEN_CENTRAL_USER}</username>
            <password>${env.MAVEN_CENTRAL_PASS}</password>
        </server>
        <server>
            <id>OSSRH-snapshots</id>
            <username>${env.MAVEN_CENTRAL_USER}</username>
            <password>${env.MAVEN_CENTRAL_PASS}</password>
        </server>
        <server>
            <id>docker-hub</id>
            <username>${env.DOCKERHUB_USER}</username>
            <password>${env.DOCKERHUB_PASS}</password>
            <configuration>
                <email>${env.DOCKERHUB_MAIL}</email>
            </configuration>
        </server>
        <!-- see: http://maven.apache.org/guides/mini/guide-encryption.html -->
        <!-- mvn &#x002d;&#x002d;encrypt-password ${password} -->
        <!-- accept RSA key fingerprint -->
        <!-- ssh -o UserKnownHostsFile=~/.ssh/known_hosts root@mvnsite.local -p 10022 -->
        <server>
            <id>local-nexus3-releases</id>
            <username>deployment</username>
            <password>deployment</password>
        </server>
        <server>
            <id>local-nexus3-snapshots</id>
            <username>deployment</username>
            <password>deployment</password>
        </server>
        <server>
            <id>local-nexus3-thirdparty</id>
            <username>deployment</username>
            <password>deployment</password>
        </server>
        <server>
            <id>local-mvnsite</id>
            <!--username>root</username>
            <password>root</password-->
            <!--username>root</username>
            <privateKey>${user.home}/.ssh/mvnsite.local</privateKey-->
            <username>deployment</username>
            <password>deployment</password>
            <configuration>
                <!-- see: https://maven.apache.org/wagon/apidocs/index.html -->
                <!-- java.lang.ClassNotFoundException: org.apache.maven.wagon.providers.ssh.knownhost.NullKnownHostProvider -->
                <!--knownHostsProvider implementation="org.apache.maven.wagon.providers.ssh.knownhost.NullKnownHostProvider">
                    <hostKeyChecking>no</hostKeyChecking>
                </knownHostsProvider-->
            </configuration>
        </server>
        <server>
            <id>internal-nexus3-releases</id>
            <username>deployment</username>
            <password>{RJzAlz+tw54HBhZ3IBzFCuNQY2Wyzqv2EonquIV7hdE=}</password>
        </server>
        <server>
            <id>internal-nexus3-snapshots</id>
            <username>deployment</username>
            <password>{RJzAlz+tw54HBhZ3IBzFCuNQY2Wyzqv2EonquIV7hdE=}</password>
        </server>
        <server>
            <id>internal-nexus3-thirdparty</id>
            <username>deployment</username>
            <password>{RJzAlz+tw54HBhZ3IBzFCuNQY2Wyzqv2EonquIV7hdE=}</password>
        </server>
        <server>
            <id>internal-mvnsite</id>
            <username>root</username>
            <!--passphrase>if required</passphrase-->
            <privateKey>${user.home}/.ssh/mvnsite.internal</privateKey>
            <configuration>
                <!-- see: https://maven.apache.org/wagon/apidocs/index.html -->
                <!-- java.lang.ClassNotFoundException: org.apache.maven.wagon.providers.ssh.knownhost.NullKnownHostProvider -->
                <!--knownHostsProvider implementation="org.apache.maven.wagon.providers.ssh.knownhost.NullKnownHostProvider">
                    <hostKeyChecking>no</hostKeyChecking>
                </knownHostsProvider-->
            </configuration>
        </server>
    </servers>

    <activeProfiles>
        <activeProfile>infrastructure-${infrastructure}</activeProfile>
    </activeProfiles>

    <pluginGroups>
        <pluginGroup>org.apache.maven.plugins</pluginGroup>
        <pluginGroup>org.codehaus.mojo</pluginGroup>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>

    <profiles>
        <profile>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.keyname>${env.GPG_KEYNAME}</gpg.keyname>
                <gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>
            </properties>
        </profile>
        <profile>
            <id>default-internal-sonar-host-url</id>
            <activation>
                <property>
                    <name>!internal-sonar.host.url</name>
                </property>
            </activation>
            <properties>
                <internal-sonar.host.url>http://sonarqube.internal:9000</internal-sonar.host.url>
            </properties>
        </profile>
        <profile>
            <id>default-local-sonar-host-url</id>
            <activation>
                <property>
                    <name>!local-sonar.host.url</name>
                </property>
            </activation>
            <properties>
                <local-sonar.host.url>http://sonarqube.local:9000</local-sonar.host.url>
            </properties>
        </profile>
        <profile>
            <id>infrastructure-github</id>
            <properties>
                <sonar.host.url>https://sonarqube.com</sonar.host.url>
            </properties>
            <repositories>
                <repository>
                    <id>central</id>
                    <name>Central Repository</name>
                    <url>https://repo.maven.apache.org/maven2</url>
                    <layout>default</layout>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>OSSRH-releases</id>
                    <name>central releases</name>
                    <url>https://oss.sonatype.org/service/local/staging/deploy/maven2</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>false</enabled></snapshots>
                </repository>
                <repository>
                    <id>OSSRH-snapshots</id>
                    <name>central snapshots</name>
                    <url>https://oss.sonatype.org/content/repositories/snapshots/</url>
                    <releases><enabled>false</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <name>Central Repository</name>
                    <url>https://repo.maven.apache.org/maven2</url>
                    <layout>default</layout>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                </pluginRepository>
                <pluginRepository>
                    <id>OSSRH-releases</id>
                    <name>central releases</name>
                    <url>https://oss.sonatype.org/service/local/staging/deploy/maven2</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>false</enabled></snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>OSSRH-snapshots</id>
                    <name>central snapshots</name>
                    <url>https://oss.sonatype.org/content/repositories/snapshots/</url>
                    <releases><enabled>false</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>OSSRH-thirdparty</id>
                    <name>central thirdparty</name>
                    <url>https://oss.sonatype.org/content/repositories/third-party-releases/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>false</enabled></snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>infrastructure-local</id>
            <properties>
                <sonar.host.url>${local-sonar.host.url}</sonar.host.url>
                <!--sonar.jdbc.url>jdbc:h2:tcp://sonarqube.local/sonar</sonar.jdbc.url>
                <sonar.jdbc.url>jdbc:postgresql://postgresql.local:5432/sonar</sonar.jdbc.url-->
            </properties>
            <repositories>
                <repository>
                    <id>local-nexus3-releases</id>
                    <name>local nexus3 releases</name>
                    <url>${local-nexus3.repository}/maven-releases/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>false</enabled></snapshots>
                </repository>
                <repository>
                    <id>local-nexus3-snapshots</id>
                    <name>local nexus3 snapshots</name>
                    <url>${local-nexus3.repository}/maven-snapshots/</url>
                    <releases><enabled>false</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
                <repository>
                    <id>local-nexus3-thirdparty</id>
                    <name>local nexus3 thirdparty</name>
                    <url>${local-nexus3.repository}/maven-thirdparty/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>local-nexus3-releases</id>
                    <name>local nexus3 releases</name>
                    <url>${local-nexus3.repository}/maven-releases/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>false</enabled></snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>local-nexus3-snapshots</id>
                    <name>local nexus3 snapshots</name>
                    <url>${local-nexus3.repository}/maven-snapshots/</url>
                    <releases><enabled>false</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>local-nexus3-thirdparty</id>
                    <name>local nexus3 thirdparty</name>
                    <url>${local-nexus3.repository}/maven-thirdparty/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>infrastructure-internal</id>
            <properties>
                <sonar.host.url>${internal-sonar.host.url}</sonar.host.url>
            </properties>
            <repositories>
                <repository>
                    <id>internal-nexus3-releases</id>
                    <name>internal nexus3 releases</name>
                    <url>${internal-nexus3.repository}/maven-releases/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>false</enabled></snapshots>
                </repository>
                <repository>
                    <id>internal-nexus3-snapshots</id>
                    <name>internal nexus3 snapshots</name>
                    <url>${internal-nexus3.repository}/maven-snapshots/</url>
                    <releases><enabled>false</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
                <repository>
                    <id>internal-nexus3-thirdparty</id>
                    <name>internal nexus3 thirdparty</name>
                    <url>${internal-nexus3.repository}/maven-thirdparty/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>internal-nexus3-releases</id>
                    <name>internal nexus3 releases</name>
                    <url>${internal-nexus3.repository}/maven-releases/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>false</enabled></snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>internal-nexus3-snapshots</id>
                    <name>internal nexus3 snapshots</name>
                    <url>${internal-nexus3.repository}/maven-snapshots/</url>
                    <releases><enabled>false</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>internal-nexus3-thirdparty</id>
                    <name>internal nexus3 thirdparty</name>
                    <url>${internal-nexus3.repository}/maven-thirdparty/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
